@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}


body {
  color: black;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--foreground-rgb))
    )
    rgb(var(--foreground-rgb));
}


/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

header {
  grid-area: header;
  background-color: #fed330;
  padding: 20px;
}
article {
  grid-area: content;
  background-color: #ffffff;
  padding: 20px;
}


aside {
  grid-area: sidebar;
}


footer {
  padding: 20px;
  grid-area: footer;
  background-color: #fd9644;
}


.wrapper {
  display: grid;
  grid-gap: 6px;
  grid-template-columns: 1fr 5fr;
  grid-template-areas: 
    "sidebar content"
    "sidebar content"
}


.messages {
  grid-area: messages;
  width: 100%;
}


.article {
  display: grid;
  grid-gap: 6px;
  grid-template-rows: 1fr 10fr;
  grid-template-areas: 
    "topnav topnav"
    "body body"
}


.topnav {
  grid-area: topnav;
  width: 100%;
}

.side-body {
  grid-area: body;
  width: 100%;
}



.inbox-wrapper {
  display: grid;
  grid-gap: 6px;
  grid-template-columns: 2fr 8fr;
  grid-template-areas: 
    "side-profile messages messages"
    "side-profile messages messages"
    "side-profile messages messages"
    "side-profile messages messages"
    "side-profile messages messages"
    "side-profile messages messages"
    "side-profile messages messages"
    "side-profile messages messages"
    "side-profile footer footer"
}

aside.side-profile {
  grid-area: side-profile;
  width: 100%;
}

.messages {
  grid-area: messages;
  width: 100%;
}

.footer {
  grid-area: footer;
}


.light-gray {
  background-color: rgb(242, 244, 248);
}


.card {
  background-color: rgb(46, 51, 68);
}

.dark-gray {
  color: rgb(128, 136, 155);
}

.border-gray {
  border-color: rgb(220, 221, 227);
}

.text-gray {
  color: rgb(114, 119, 132);
}


.lock-scroll {
  overflow: hidden;
}


.linkedin-btn {
  background-color: #0073b1;
  border: 0;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  font-family: inherit;
  height: 45px;
  line-height: 40px;
  overflow: hidden;
  outline-width: 2px;
  padding: 0 24px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition-duration: 167ms;
  transition-duration: 167ms;
  -webkit-transition-property: background-color,color,-webkit-box-shadow;
  transition-property: background-color,color,-webkit-box-shadow;
  transition-property: background-color,box-shadow,color;
  transition-property: background-color,box-shadow,color,-webkit-box-shadow;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  vertical-align: middle;
  z-index: 0;
  background: #0a66c2;
  border-radius: 28px !important;
}


.black {
  background-color: rgb(14, 24, 37);
}


.setly-bg {
  background: linear-gradient(to right, rgb(49, 189, 253) , rgb(73, 231, 182));
}

/* .setly-bg:hover {
  background: linear-gradient(to right,  rgb(73, 231, 182),rgb(49, 189, 253));
}
 */

.setly-color {
  color: linear-gradient(to right, rgb(49, 189, 253) , rgb(73, 231, 182));
}

textarea {
  resize: none; /* user can resize vertically, but width is fixed */
}

.side-bar::-webkit-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  display: none
}

/* Hide scrollbar for IE, Edge and Firefox */
.side-bar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

